<div class="jumbotron">
  <h1 class="display-4">
    <%= @product.list_of_categories %> <br/>
    <%= @product.subcategories %>
  </h1>
  <p class="lead">
    <%= @product.location %> 
  </p>
  <br/>

  <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-secondary" %>
  <%= link_to 'Back', products_path, class:"btn btn-dark" %>

</div>
